<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|striptags} | {/ifset}{_o.title.title}</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/dropzone.css" rel="stylesheet">

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
</head>
<style>
textarea{
  resize:vertical;
}
</style>
<body>

  <div class="container">
		<nav class="navbar navbar-default navbar-inverse">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" n:href="Homepage:default">{_o.title.title}</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
            <li {ifCurrent Homepage:lastest}class="active"{/ifCurrent}><a n:href="Homepage:lastest">{_o.title.lastest}</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		      	{if $user->isLoggedIn()}
		      	<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{$user->identity->username} <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a n:href="User:detail $user->identity->username">{_o.btn.profile}</a></li>
                <li><a n:href="User:myImages">{_o.btn.myImages}</a></li>
                <li><a href="#">{_o.btn.settings}</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a n:href="logout!">{_o.btn.logout}</a></li>
		          </ul>
		        </li>
		        {else}
		        <li><a n:href="User:join" n:class="$presenter->isLinkCurrent('User:join') ? active">{_o.btn.join}</a></li>
		        <li><a n:href="User:login">{_o.btn.login}</a></li>
		        {/if}
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}  alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-label="Zavřít"><span aria-hidden="true">&times;</span></button>
			{$flash->message}
		</div>
		<div class="row">
			<div class="col-md-8">
				{include content}
			</div>
			<div class="col-md-4">
				<div class="well well-sm">{_o.title.ad}</div>
        <div n:if="!$user->isLoggedIn()" class="panel panel-default">
          <div class="panel-heading">
            {_o.title.login}
          </div>
          <div class="panel-body">
            <form n:name="loginForm" action="{link User:login}">
              <div class="form-group">
                <label>{_o.title.username}</label>
                <input n:name="username" class="form-control">
              </div>
              <div class="form-group">
                <label>{_o.title.password}</label>
                <input n:name="password" class="form-control">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <a n:href="User:join">{_o.btn.join}</a>
                </div>
                <div class="col-md-6">
                  <button n:name="send" class="btn btn-default pull-right">{_o.btn.login}</button>
                </div>
              </div>
            </form>
          </div>
        </div>


				{ifset #panel}
				{include panel}
				{/ifset}
				<div class="well well-sm">{_o.title.ad}</div>
			</div>
		</div>
		<div class="well well-sm">&copy; {date('Y')} - {_o.title.title}</div>
	</div>
{block scripts}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/js/dropzone.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/nette.ajax.js"></script>
  <script n:if="$presenter->isLinkCurrent('Homepage:default')" src="/js/pasteUploader.js"></script>
  <script src="//nette.github.io/resources/js/netteForms.min.js"></script>
  <script>
  $(function () {
    $.nette.init();
  });

// "myAwesomeDropzone" is the camelized version of the HTML element's ID
Dropzone.options.myAwesomeDropzone = {

  paramName: "file", // The name that will be used to transfer the file
  parallelUploads: 1,
  acceptedFiles: "image/*",
  maxFilesize: 10, // MB
  dictDefaultMessage: {_o.text.uploader},
  success: function(){
    $( "#upload-info" ).click();
  }
};


$( document ).ready(function() {
  $("#upload-info").attr("href", $("#upload-info").attr("href") + "&timestamp=" + $("input[name=timestamp]").attr("value"))
});
  </script>
{/block}
</body>
</html>
