{block panel}
<div class="hidden">
  {control pasteUploadForm}
</div>
{snippet uploadInfo}
<div n:ifset="$timestamp" class="panel panel-default">
  <div class="panel-heading">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {if $uploadCookie->show == 'hotlink'}{_o.btn.hotlink}{else}{_o.btn.detail}{/if} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a n:href="changeUploadInfo! detail, $timestamp" class="ajax">{_o.btn.uploadShowDetail}</a></li>
        <li><a n:href="changeUploadInfo! hotlink, $timestamp" class="ajax">{_o.btn.uploadShowHotlink}</a></li>
      </ul>
    </div>
    {_o.title.uploadInfo}
  </div>
  <div class="panel-body">
    <div n:if="$uploaded->tempGroup()" class="form-group">
      <label for="i_group">{_o.image.group}</label> <a n:href="Homepage:group $uploaded->tempGroup()->hash" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
      <input type="text" id="i_group" class="form-control" value="{link //Homepage:group $uploaded->tempGroup()->hash}" onClick="this.select();">
    </div>

    <hr n:if="$uploaded->tempGroup()">

    <div n:foreach="$uploaded->get() as $image" class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label><a n:href="Homepage:detail $image->detail->hash" class="thumbnail" target="_blank"><img src="{link Homepage:thumbnail $image->link, 94}" class="img-responsive" style="max-height: 45px;"></a></label>
        </div>
        <div class="col-md-9">
          <input n:if="$uploadCookie->show == 'detail'" type="text" class="form-control" value="{link //Homepage:detail $image->detail->hash}" onClick="this.select();">
          <input n:if="$uploadCookie->show == 'hotlink'" type="text" class="form-control" value="{$baseUrl}/i/{$image->link}" onClick="this.select();">
        </div>
      </div>
    </div>
  </div>
</div>
{/snippet}
{/block}
{block content}
<div class="panel panel-default">
  <div class="panel-heading">{_o.title.upload}</div>
  <div class="panel-body">
    <div class="hidden-xs">
      <a n:href="uploadInfo!" class="ajax hidden" id="upload-info"></a>
      <form n:name="uploadForm" class="dropzone" id="my-awesome-dropzone">
        <input n:name="timestamp">
        {*<input n:name="file">
        <input n:name="send">*}
      </form>
    </div>
    <div class="visible-xs-block">
      {control uploadForm}
    </div>
  </div>
</div>