{block panel}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      <label for="i_hotlink">{_o.image.hotlink}</label> <a href="{$image->hotlink}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
      <input type="text" id="i_hotlink" class="form-control" value="{$baseUri}{$image->hotlink}" onClick="this.select();">
    </div>
  </div>
</div>
{/block}
{block content}
{snippet imageBlock}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{$image->isSocial ? $image->socialName : $image->detail->name}</h3>
  </div>
  <div class="panel-body">
    <img src="{link Homepage:thumbnail $image->link, 718}" class="img-responsive center-block">
  </div>
  {var $hash = $image->detail->hash}
  <div n:snippet="votesBlock-$hash" class="panel-footer">
    {if $image->isSocial}
  	<a n:if="$image->isUpvoted" n:href="novote!" n:class="ajax, btn, btn-success, btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span> {$image->upvotes}</a>
    <a n:if="!$image->isUpvoted" n:href="upvote!" n:class="!$user->isLoggedIn() ? disabled, ajax, btn, btn-default, btn-sm, text-success"><span class="glyphicon glyphicon-thumbs-up"></span> {$image->upvotes}</a>
  	<a n:if="$image->isDownvoted" n:href="novote!" n:class="ajax, btn, btn-danger, btn-sm"><span class="glyphicon glyphicon-thumbs-down"></span></a>
  	<a n:if="!$image->isDownvoted && $user->isLoggedIn()" n:href="downvote!" n:class="ajax, btn, btn-default, btn-sm, text-danger"><span class="glyphicon glyphicon-thumbs-down"></span></a>
    {/if}
  	<a href="#" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-fire"></span></a>
    <div class="clearfix"></div>
  </div>

</div>
{/snippet}

<div n:if="$image->isSocial" class="panel panel-default">
  <div class="panel-body">
    <form n:name="commentForm">
      <div class="row">
        <div class="col-md-9">
          <div class="form-group">
            <textarea n:name="text" class="form-control" placeholder="{_$form['text']->caption}"></textarea>
          </div>
        </div>
        <div class="col-md-3">
          <button n:name="send" class="btn btn-block btn-success pull-right">{_$form['send']->caption}</button>
        </div>
      </div>
      <div class="clearfix"></div>
    </form>
    <div n:foreach="$image->comments as $comment">
      <a n:href="User:detail $comment->user->username">{$comment->user->username}</a> <small>{$comment->created_at}</small>
      <div class="well well-sm">{$comment->text}</div>
    </div>
  </div>
</div>