{block panel}
<div class="panel panel-default">
  <div class="panel-heading">
    {_o.title.groupInfo}
  </div>
  <div class="panel-body">
    <h4 class="text-center">{$images->getGroupDetail()->name}</h4>
    <p class="text-center">{_o.title.groupCreatedByUser, ['username' => $images->getGroupDetail()->user->username]}</p>
    <hr>
    <div class="form-group">
      <label for="i_group">{_o.image.group}</label>
      <input type="text" id="i_group" class="form-control" value="{link //Homepage:group $images->getGroupDetail()->hash}" onClick="this.select();">
    </div>
  </div>
</div>
{/block}
{block content}
{snippet imageBlock}
<div n:foreach="$images->get() as $image" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{$image->detail->name}</h3>
  </div>
  <div class="panel-body">
    <a n:href="Homepage:detail $image->detail->hash"><img src="{link Homepage:thumbnail $image->link, 718}" class="img-responsive center-block"></a>
  </div>
</div>

{/snippet}