{block content}
{snippet imageBlock}
{foreach $images->get() as $image}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{$image->socialName}</h3>
    </div>
    <div class="panel-body">
      <a n:href="Homepage:detail $image->detail->hash"><img src="{link Homepage:thumbnail $image->link, 718}" class="img-responsive center-block"></a>
    </div>
    {var $hash = $image->detail->hash}
    <div n:snippet="votesBlock-$hash" class="panel-footer">
    	<a n:if="$image->isUpvoted" n:href="novote! $image->detail->hash" n:class="ajax, btn, btn-success, btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span> {$image->upvotes}</a>
      <a n:if="!$image->isUpvoted" n:href="upvote! $image->detail->hash" n:class="!$user->isLoggedIn() ? disabled, ajax, btn, btn-default, btn-sm, text-success"><span class="glyphicon glyphicon-thumbs-up"></span> {$image->upvotes}</a>
    	<a n:if="$image->isDownvoted" n:href="novote! $image->detail->hash" n:class="ajax, btn, btn-danger, btn-sm"><span class="glyphicon glyphicon-thumbs-down"></span></a>
    	<a n:if="!$image->isDownvoted && $user->isLoggedIn()" n:href="downvote! $image->detail->hash" n:class="ajax, btn, btn-default, btn-sm, text-danger"><span class="glyphicon glyphicon-thumbs-down"></span></a>
      {_o.title.countComments, ['count' => $image->countComments]}
    	<a href="#" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-fire"></span></a>
    </div>

  </div>

{/foreach}
{/snippet}