{block content}
<div class="panel panel-default">
  <div class="panel-heading">{_o.title.userDetail, ['username' => $userDetail->detail->username]}</div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-justified">
      <li role="presentation" n:class="$show == 'posts' ? active"><a n:href="User:detail $userDetail->detail->username, 'posts'">{_o.title.posts} <span class="badge">{$userDetail->countUserPosts()}</span></a></li>
      <li role="presentation" n:class="$show == 'comments' ? active"><a n:href="User:detail $userDetail->detail->username, 'comments'">{_o.title.comments} <span class="badge">{$userDetail->countUserComments()}</span></a></li>
      <li role="presentation" n:class="$show == 'upvotes' ? active"><a n:href="User:detail $userDetail->detail->username, 'upvotes'">{_o.title.upvotes} <span class="badge">{$userDetail->countUserUpvotes()}</span></a></li>
      <li role="presentation" n:class="$show == 'images' ? active"><a n:href="User:detail $userDetail->detail->username, 'images'">{_o.title.images} <span class="badge">{$userDetail->countUserImages()}</span></a></li>
    </ul>
    <hr>
{if $show == 'posts'}
{snippet imageBlock}
{foreach $userDetail->getUserPosts() as $imageNum}
{php $image->getById($imageNum->image_id)}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{$image->socialName}</h3>
    </div>
    <div class="panel-body">
      <a n:href="Homepage:detail $image->detail->hash"><img src="{link Homepage:thumbnail $image->link, 718}" class="img-responsive center-block"></a>
    </div>
    {var $hash = $image->detail->hash}
    <div n:snippet="votesBlock-$hash" class="panel-footer">
     <a n:if="$image->isUpvoted" n:href="novote! $image->detail->hash" n:class="ajax, btn, btn-success, btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span> {$image->upvotes}</a>
      <a n:if="!$image->isUpvoted" n:href="upvote! $image->detail->hash" n:class="!$user->isLoggedIn() ? disabled, ajax, btn, btn-default, btn-sm, text-success"><span class="glyphicon glyphicon-thumbs-up"></span> {$image->upvotes}</a>
    	<a n:if="$image->isDownvoted" n:href="novote! $image->detail->hash" n:class="ajax, btn, btn-danger, btn-sm"><span class="glyphicon glyphicon-thumbs-down"></span></a>
    	<a n:if="!$image->isDownvoted && $user->isLoggedIn()" n:href="downvote! $image->detail->hash" n:class="ajax, btn, btn-default, btn-sm, text-danger"><span class="glyphicon glyphicon-thumbs-down"></span></a>
      {_o.title.countComments, ['count' => $image->countComments]}
    	<a href="#" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-fire"></span></a>
    </div>
  </div>

{/foreach}
{/snippet}
{/if}
{if $show == 'comments'}

    <div n:foreach="$userDetail->getUserComments() as $comment">
      <div class="row">
        <div class="col-md-2">
          <a n:href="Homepage:detail $comment->image->hash"><img src="{link Homepage:thumbnail $comment->image->hash . '.' . $comment->image->ext, 94}" class="img-responsive"></a>
        </div>
        <div class="col-md-10">
          <p><a n:href="Homepage:detail $comment->image->hash">{_o.text.userCommented, ['username' => $comment->user->username, 'image' => $comment->image->related('public.image_id')->fetch()->name]}</a> <small>{$comment->created_at}</small><br>
          {$comment->text}</p>
        </div>
      </div>
      <hr n:tag-if="!$iterator->last">
    </div>
{/if}
{if $show == 'upvotes'}

    <div n:foreach="$userDetail->getUserUpvotes() as $upvote">
      <div class="row">
        <div class="col-md-2">
          <a n:href="Homepage:detail $upvote->image->hash"><img src="{link Homepage:thumbnail $upvote->image->hash . '.' . $upvote->image->ext, 94}" class="img-responsive"></a>
        </div>
        <div class="col-md-10">
          <p><a n:href="Homepage:detail $upvote->image->hash">{_o.text.userUpvoted, ['username' => $upvote->user->username, 'image' => $upvote->image->related('public.image_id')->fetch()->name]}</a> <small>{$upvote->created_at}</small>
          </p>
        </div>
      </div>
      <hr n:tag-if="!$iterator->last">
    </div>
{/if}

{if $show == 'images'}

    <div n:inner-foreach="$userDetail->getUserImages() as $imageNum" class="row">
{php $image->getById($imageNum)}
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a n:href="Homepage:detail $image->detail->hash" class="thumbnail" style="min-height: 50px"><img src="{link Homepage:thumbnail $image->link, 151}" style="max-height: 100px;"></a>
      </div>
      <div n:if="$iterator->counter%2 == 0 | $iterator->counter%3 == 0 | $iterator->counter%4 == 0" n:class="clearfix, $iterator->counter%2 == 0 ? visible-xs-block, $iterator->counter%3 == 0 ? visible-sm-block, $iterator->counter%4 == 0 ? visible-md-block, $iterator->counter%4 == 0 ? visible-lg-block"></div>

    </div>
{/if}
  </div>
</div>

