{block content}
<div class="panel panel-default">
  <div class="panel-heading">{_o.title.join}</div>
  <div class="panel-body">


  <form n:name="loginForm" class="form">
    <ul class="errors" n:if="$form->hasErrors()">
      <li n:foreach="$form->errors as $error" class="text-red">{$error}</li>
    </ul>
      <div class="form-group">
        <label n:name="username">{_o.title.username}</label>
        <input n:name="username" class="form-control">
      </div>
      <div class="form-group">
        <label n:name="password">{_o.title.password}</label>
        <input n:name="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-flat">{_o.btn.join}</button>

    </form>


  </div>
</div>
